.App {
  text-align: center;
}

.NavBar {
  min-height: 10vh;
}

.SiteTitle {
  padding: 20px;
  float: left;
  font-size: 20px;
}

.SubMenu {
  padding: 20px;
  float: right;
  font-size: 20px;
}

.Button {
  border: none;
  padding: 20px;
  font-size: 20px;

}

.Button:focus {
  outline:0;
}
